/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 15px 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: #00bcd4;
}

/* BANNER */
.banner {
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)),
            url("banner bg.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SECTIONS */
.section {
    padding: 60px 40px;
    text-align: center;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(234, 255, 0, 0.599);
}

/* CONTACT FORM */
.contact-form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 12px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: #00bcd4;
}